@import"https://fonts.googleapis.com/css2?family=League+Spartan:wght@500;700&display=swap";*,*:before,*:after {
    box-sizing: border-box
}

body,h1,h2,h3,h4,p,figure,blockquote,dl,dd {
    margin: 0
}

ul,ol {
    list-style: none;
    margin: 0;
    padding: 0
}

html {
    scroll-behavior: smooth
}

body {
    text-rendering: optimizeSpeed;
    line-height: 1.5
}

a:not([class]) {
    -webkit-text-decoration-skip: ink;
    text-decoration-skip-ink: auto
}

a {
    text-decoration: none
}

img,picture {
    max-width: 100%;
    display: block
}

input,button,textarea,select {
    font: inherit
}

@media (prefers-reduced-motion: reduce) {
    html {
        scroll-behavior: auto
    }

    *,*:before,*:after {
        animation-duration: .01ms!important;
        animation-iteration-count: 1!important;
        transition-duration: .01ms!important;
        scroll-behavior: auto!important
    }
}

:root {
    --light-blue: hsl(199, 74%, 55%);
    --bg-light-grayish-cyan: hsl(180, 52%, 96%);
    --tabs-light-grayish-cyan: hsl(180, 31%, 95%);
    --dark-grayish-cyan: hsl(180, 8%, 52%);
    --very-dark-grayish-cyan: hsl(180, 14%, 20%);
    --white: white;
    --header-height: 9rem
}

@media screen and (max-width: 315px) {
    html {
        font-size:.8rem
    }
}

@media screen and (max-width: 250px) {
    html {
        font-size:.6rem
    }
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: League Spartan,sans-serif;
    position: relative;
    background-color: var(--bg-light-grayish-cyan);
    background-size: 10px 10px;
    background-image: repeating-linear-gradient(45deg,var(--light-blue) 0,var(--light-blue) 1px,#e5e5f7 0,#e5e5f7 50%)
}

.container {
    margin: auto;
    padding: 4rem 1rem 2rem;
    max-width: 500px
}

@media screen and (min-width: 650px) {
    .container {
        max-width:1200px
    }
}

.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0,0,0,0);
    white-space: nowrap;
    border-width: 0
}

.footer {
    padding: 1rem;
    margin-top: auto
}

::-moz-selection {
    background-color: var(--light-blue);
    color: var(--white)
}

::selection {
    background-color: var(--light-blue);
    color: var(--white)
}

* {
    scrollbar-width: thin;
    scrollbar-color: var(--light-blue) var(--bg-light-grayish-cyan)
}

*::-webkit-scrollbar {
    width: 12px
}

*::-webkit-scrollbar-track {
    background: var(--bg-light-grayish-cyan);
    width: 12px
}

*::-webkit-scrollbar-thumb {
    background-color: var(--light-blue);
    border-radius: 20px;
    border: 3px solid var(--bg-light-grayish-cyan)
}

.header {
    background-image: url(../images/bg-header-mobile.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: var(--header-height);
    position: relative
}

.header:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(121deg,var(--light-blue) 0%,rgb(184,255,255) 50%,var(--light-blue) 100%);
    z-index: -1;
    opacity: .8
}

@media screen and (min-width: 650px) {
    .header {
        background-image:url(../images/bg-header-desktop.svg)
    }
}

.filter-container {
    background-color: var(--white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: .5rem;
    padding: 1rem;
    border-radius: 5px;
    margin-top: -5.5rem;
    box-shadow: 0 10px 15px #5ba4a44d,inset 0 0 20px #b8e8ff;
    margin-bottom: 4rem;
    display: none;
    z-index: 2;
    position: relative;
    border: 1px solid var(--light-blue)
}

@media screen and (min-width: 650px) {
    .filter-container {
        margin-bottom:2rem;
        padding: 1rem 2rem
    }
}

.filter-container__filters {
    display: flex;
    flex-wrap: wrap;
    gap: .8rem
}

.filter-container__filters .filter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--tabs-light-grayish-cyan);
    border: none;
    color: var(--light-blue);
    border-radius: 5px;
    padding: 0 0 0 .4rem;
    overflow: hidden;
    cursor: pointer;
    font-weight: 700
}

.filter-container__filters .filter:hover span,.filter-container__filters .filter:active span {
    background-color: var(--very-dark-grayish-cyan)
}

.filter-container__filters .filter:focus {
    outline-style: dotted;
    outline-offset: 2px;
    outline-width: 3px;
    outline-color: var(--light-blue)
}

.filter-container__filters .filter span {
    background-color: var(--light-blue);
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: .4rem;
    margin-left: .5rem;
    transition: background .2s ease
}

.filter-container .btn-clear {
    background: none;
    border: none;
    color: var(--very-dark-grayish-cyan);
    cursor: pointer;
    transition: color .2s ease
}

.filter-container .btn-clear:active,.filter-container .btn-clear:hover {
    color: var(--light-blue);
    text-decoration: underline
}

.filter-container .btn-clear:focus {
    outline-style: dotted;
    outline-offset: 2px;
    outline-width: 3px;
    outline-color: var(--light-blue)
}

.job-list {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    transition: all .1s ease;
    opacity: 1;
    transform: translateY(0)
}

@media screen and (min-width: 650px) {
    .job-list {
        gap:1rem
    }
}

.job-list__job {
    box-shadow: 0 10px 15px #5ba4a44d;
    border-radius: 5px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
    background: rgb(255,255,255);
    background: linear-gradient(121deg,rgb(255,255,255) 10%,rgb(194,236,255) 50%,rgb(255,255,255) 100%)
}

@media screen and (min-width: 650px) {
    .job-list__job {
        flex-direction:row;
        align-items: center
    }
}

.job-list__job .logo {
    max-width: 3rem;
    margin-top: -2.5rem
}

@media screen and (min-width: 650px) {
    .job-list__job .logo {
        max-width:5rem;
        margin-top: 0;
        margin-right: 1rem
    }
}

.job-list__job .job-info {
    border-bottom: 1px solid var(--dark-grayish-cyan);
    padding-bottom: .5rem
}

@media screen and (min-width: 650px) {
    .job-list__job .job-info {
        border-bottom:none;
        padding-bottom: 0
    }
}

.job-list__job .job-info__head {
    display: flex;
    gap: .5rem;
    align-items: center;
    margin-bottom: .5rem
}

.job-list__job .job-info__head .company {
    margin-right: 1rem;
    color: var(--light-blue);
    font-weight: 700
}

.job-list__job .job-info__head .new,.job-list__job .job-info__head .featured {
    background-color: var(--light-blue);
    color: var(--white);
    padding: 0 .6rem;
    border-radius: 999px;
    text-transform: uppercase
}

.job-list__job .job-info__head .featured {
    background-color: var(--very-dark-grayish-cyan)
}

.job-list__job .job-info__position {
    color: var(--very-dark-grayish-cyan);
    margin-bottom: .5rem;
    display: block;
    font-weight: 700;
    font-size: 1.2rem
}

.job-list__job .job-info__position:hover {
    color: var(--light-blue)
}

.job-list__job .job-info__position:focus {
    outline-style: dotted;
    outline-offset: 2px;
    outline-width: 3px;
    outline-color: var(--light-blue)
}

.job-list__job .job-info__bottom {
    color: var(--dark-grayish-cyan);
    display: flex;
    gap: 1rem
}

.job-list__job .job-info__bottom>*:not(:last-child) {
    position: relative
}

.job-list__job .job-info__bottom>*:not(:last-child):after {
    position: absolute;
    top: 50%;
    right: -.5rem;
    transform: translateY(-50%);
    content: "";
    height: 3px;
    width: 3px;
    background-color: var(--dark-grayish-cyan);
    border-radius: 999px
}

.job-list__job .skills {
    display: flex;
    flex-wrap: wrap;
    gap: .5rem
}

@media screen and (min-width: 650px) {
    .job-list__job .skills {
        margin-left:auto
    }
}

.job-list__job .skills .skill {
    background-color: var(--tabs-light-grayish-cyan);
    padding: 0rem .4rem;
    color: var(--light-blue);
    border-radius: 5px;
    font-weight: 700;
    border: none;
    cursor: pointer;
    transition: color .2s ease,background .2s ease;
    background-color: var(--light-blue);
    color: var(--white)
}

.job-list__job .skills .skill:hover,.job-list__job .skills .skill:active {
    color: var(--white);
    background-color: var(--dark-grayish-cyan)
}

.job-list__job .skills .skill:focus {
    outline-style: dotted;
    outline-offset: 2px;
    outline-width: 3px;
    outline-color: var(--light-blue)
}

.job-list__job.updated {
    border-left: 5px solid var(--light-blue)
}

.job-list.hide {
    opacity: 0;
    transform: translateY(.5rem)
}

.attribution-wrapper {
    background: linear-gradient(to bottom,hsl(199,100%,61%),hsl(199,66%,51%));
    color: #fff;
    padding: 1rem;
    border-radius: 10px
}

.attribution-wrapper .attribution {
    --clr-attb-primary: yellow;
    --fs-attb: calc(1rem - 2px);
    text-shadow: 0 0 10px rgba(0,0,0,.5);
    text-align: center;
    line-height: 1.4;
    font-size: var(--fs-attb);
    padding: 0 .5rem;
    border-left: 2px solid var(--clr-attb-primary);
    border-right: 2px solid var(--clr-attb-primary);
    border-radius: 10px;
    margin: auto;
    max-width: -moz-fit-content;
    max-width: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem
}

@media screen and (min-width: 375px) {
    .attribution-wrapper .attribution {
        flex-direction:row
    }
}

.attribution-wrapper .attribution .attb-link {
    color: var(--clr-attb-primary);
    padding: 0 5px;
    transition: all .2s ease;
    border-bottom: 2px dotted var(--clr-attb-primary);
    font-size: calc(var(--fs-attb) + 4px);
    text-decoration: none;
    display: inline-block;
    outline: none
}

.attribution-wrapper .attribution .attb-link:hover,.attribution-wrapper .attribution .attb-link:active {
    transform: scale(1.2)
}

.attribution-wrapper .attribution .attb-link:focus {
    transform: scale(1.2)
}

.attribution-wrapper .attribution .attb-fem {
    font-size: calc(var(--fs-attb) / 1.1)
}

.my-profile {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: #001724;
    z-index: 2000;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    opacity: 0;
    visibility: hidden;
    animation: fadeInOut 2s ease 1 forwards;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none
}

.my-profile__content {
    max-width: 30rem;
    text-align: center;
    margin-top: -9rem;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none
}

.my-profile__content img {
    max-height: 16rem;
    width: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none;
    margin-bottom: 2rem
}

.my-profile__content .name {
    font-size: 3rem;
    color: #00f7ff;
    animation: slideUp 2s ease 1 forwards;
    font-weight: 700;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none
}

.my-profile__content .username {
    font-size: 1.2rem;
    font-weight: 400;
    opacity: .6;
    color: #00f7ff;
    animation: slideUp 2s ease 1 forwards .2s;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    pointer-events: none
}

@keyframes fadeInOut {
    0% {
        opacity: 1;
        visibility: visible;
        -webkit-user-select: all;
        -moz-user-select: all;
        user-select: all
    }

    90% {
        opacity: 1;
        visibility: visible;
        -webkit-user-select: all;
        -moz-user-select: all;
        user-select: all
    }

    to {
        opacity: 0;
        visibility: hidden;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none
    }
}

@keyframes slideUp {
    0% {
        transform: translateY(2rem);
        opacity: 0
    }

    40% {
        opacity: 1;
        transform: translateY(0)
    }

    to {
        opacity: 1;
        transform: translateY(0)
    }
}
